/*
by Pedro Ferreira 
*/

// Variables
$text-color: #FFF;
$background-color: rgb(22, 18, 18);
body {
    font-family: monospace;
    cursor: none;
    margin: 0;
    height: 100vh;
    background-color: $background-color;
}

.wrapper {
    padding: 1em;
}

a {
    text-decoration: none;
    color: $text-color;
    cursor: none;
}

h1 {
    font-size: 90px;
    line-height: 100px;
}
h2 {
    font-size: 50px;
    line-height: 70px;
}

a {
    font-size: 25px;
    line-height: 30px;
    .hoverables {
        opacity: 0;
    }
}

img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.left {
    padding: 0 2em 2em 0;
    margin-left: -0.55rem;
    margin-right: -0.55rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    &-name {
        z-index: -1;
        background-size: 0 40%;
        margin-left: -0.55rem;
        margin-right: -0.55rem;
        padding-left: 0.55rem;
        padding-right: 0.55rem;
        color: white    ;
        &-show {
            background-size: 100% 40%;
        }
    }
    &-title {
        display: block;
        z-index: -1;
        color: #FFF;

    }
}

.loading {
    &-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 10;
        pointer-events: none;
    }
    &-screen {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        background-color: #4bedc2;
        width: 0%;
        height: 100%;
    }
}

.cursor {
    pointer-events: none;
    
    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;
      
      circle {
        fill: #f7f8fa;
      }
    }      
  } 

footer {
    nav {
        position: relative;
        z-index: 9;
        text-align: right;
        width: 100%;
        padding: 30px 0;
        bottom: 0;
        opacity: 1;
        ul {
            list-style: none;
            padding: 0;
            text-align: left;
            li {
                display: inline-block;
                padding-left: 20px;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                    padding-left: 0;
                }
                a {
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

main, footer {
    margin: 0 3em ;
}

.company {
    background-image: linear-gradient(#4bedc281, #4bedc281);
    background-position: 0 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-size 1s 1.5s ease;
}

/* Responsive */

@media (min-width: 650px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 3em;
        position: relative;
        z-index: 3;
    }

    .left {
        padding-right: 2em;
    }

    .right {
        width: 400px;
    }
}
